* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-color: whitesmoke;
}

.main {
    position: relative;
    display: flex;
    min-height: 100vh;
}

.side {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    transition: all 0.5s ease;
    background-color: rgb(34, 33, 33);
}

.box {
    display: block;
    height: 70px;
    width: 85%;
    border-radius: 5px;
    margin: 5px;
    transition: .3s;
    color: rgb(160, 160, 175);
}

.box i {
    font-size: 45px;
    position: absolute;
    margin: 7px 0 0 13px;
}

.box span {
    position: relative;
    top: 22px;
    left: 78px;
    font: 500 20px '';
    opacity: 0;
    transition: .1s;
}

.icon-fanhuijiantou {
    position: absolute;
    left: 10px;
}

.content {
    position: absolute;
    height: 100%;
    width: calc(100%-78px);
    left: 78px;
    transition: all 0.5s ease;
}


.uplan {
    position: sticky;
    top:0;
    width: 100%;
    height: 70px;
    background-color: rgba(114, 112, 112, 0.5);
}

.upload {
    display: block;
    width: 200px;
    height: 50px;
    color: white;
    float: right;
    margin-top: 20px;
}

.upload i {
    font-size: 30px;
}

.upload span {
    font: 500 27px '';
}

#login {
    display: none;
}

.indeximgs {
    display: flex;

    /* Put a card in the next row when previous cards take all width */
    flex-wrap: wrap;
    justify-content: center;
}

.show {
    /* There will be 4 cards per row */
    flex: 1 0 calc(96%/4);
    padding-left: 8px;
    padding-right: 8px;
    margin: 4px;
    min-width: 270px;
    min-height: 270px;
    margin-top: 10px;
}

img {
    width: 100%;
    height: 100%;
}

#z2 {
    cursor: pointer;
}

#tanchu {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    z-index: 1;
}

#bgbox {
    position: fixed;
    left: 0;
    top: 0;
    background: rgb(0, 0, 0);
    filter: alpha(opacity=30);
    opacity: 0.7;
}

#tanchu span {
    position: fixed;
    right: 30px;
    top: 5px;
    display: block;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

#tanchu img {
    margin-top: 30px;
    max-width: 1100px;
    max-height: 800px;
}

.js-upload-remove-button {
    color: black;
}

.upup span {
    cursor: pointer;
}

#pp {
    width: 100%;
    height:0;
}

.blackbox {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 60px;
    position:relative;
    left:0;
    bottom: 60px;
    display:none;
    text-align: right;
    color: white;
}

.show:hover #pp .blackbox {
    display: block;
}

.blackbox i {
    font-size: 25px;
    position:relative;
    right:15px;
    top: 10px;
    cursor:pointer;
}