<!DOCTYPE HTML>
<html>

<head>
    <title>主页</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="assets/css/nor.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/font/iconfont.css">
</head>

<body>
    <div class="main">
        <div class="side">
            <a href="#" class="box" id="z1"><i class="iconfont icon-wode"></i><span>未登录</span></a>
            <a class="box" id="z2"><i class="iconfont icon-chufadaodaxiao"></i><span>收起</span></a>
            <a href="#" class="box" id="z3"><i class="iconfont icon-remen"></i><span>热门</span></a>
            <a href="#" class="box" id="z4"><i class="iconfont icon-zan"></i><span>赞过的</span></a>
            <a href="#" class="box" id="z5"><i class="iconfont icon-fenxiang"></i><span>分享过</span></a>
            <a href="#" class="box" id="z6"><i class="iconfont icon-tupian"></i><span>相册</span></a>
            <a href="#" class="box" id="z7"><i class="iconfont icon-shijian"></i><span>日历</span></a>
            <a href="#" class="box" id="z8"><i class="iconfont icon-zhekou"></i><span>分类</span></a>
            <a href="#" class="box" id="z9"><i class="iconfont icon-jieban"></i><span>人物</span></a>
            <a href="#" class="box" id="z10"><i class="iconfont icon-ditu"></i><span>轨迹</span></a>
            <a href="#" class="box" id="z11"><i class="iconfont icon-tuichu"></i><span>登出</span></a>
        </div>
        <div class="content">
            <div class="uplan">
                <a href="#" class="upload" id="z12"><i class="iconfont icon-zengjia"></i><span>上传图片</span></a>
            </div>
            <div class="indeximgs">
                {{range .imgsrc}}
                <div class="show">
                    <img src="{{.Url}}" alt="">
                </div>
                {{end}}
            </div>
        </div>
    </div>

    <script src="//cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
    <script src="assets/script/main.js"></script>
</body>

</html>