<!DOCTYPE HTML>
<html>

<head>
    <title>登录PhoTouch</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/font/tt.svg">
    <link rel="stylesheet" href="assets/css/nor.css" />
    <link rel="stylesheet" href="assets/css/login.css" />
</head>

<body>
    <div class="jump">
        <h1 class="tt">一秒后将跳转到主页</h1>
    </div>
    <div class="big">
        <div class="img"></div>
        <div class="user">
            <div class="mm">
                <h1>登录picture</h1>
                <form>
                    
                </form>
                <input type="email" class="name" placeholder="邮箱">
                <input type="password" class="pass" placeholder="密码">
                <div class="wjreg">
                    <a href="/wj" class="wj">忘记密码</a>
                    <a href="/signup" class="reg">注册账号</a>
                </div>
                <button type="button" class="up">登录</button>
            </div>
        </div>
    </div>
    <script src="//cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
    <script src="assets/script/login.js"></script>
</body>

</html>